@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*----- INICIO HEADER-------*/


.logo img {
    border: 5px solid rgb(0, 168, 224);
    width: 130px;
    background-color: rgb(232, 231, 231);
}

a {
    text-decoration: none;
    color: rgb(237, 241, 237);
}

.df-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 116, 177);
    ;
    flex-direction: row;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo p {
    margin: 30px 50px;
}

.df-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.df-ul li {
    margin: 10px;
    font-weight: 600;
    font-size: medium;

}

.crisan {
    color: rgb(233, 241, 233);
    font-size: 100%;

}

/*----- FIN HEADER-------*/


/*----- INICIO MAIN INDEX-------*/

.tarjetitas {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.portada {
    background-image: url(../img/fondo5.jpg);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portada h1 {
    color: hsl(34, 57%, 70%);
    background-color: hsla(0, 0%, 0%, 0.418);
}

h1:hover {
    background: rgb(36, 73, 79);
    transition: all 1s ease;
}



.card {
    background-color: rgb(78, 227, 194);
    padding: 20px;
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}




/*----- FIN MAIN INDEX-------*/

/*----- COMIENZA PAGINA CONTACTO-------*/

.df-main-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    color: hsl(34, 57%, 70%);
}

.main-form {
    width: 80vw;
    margin: 10px 0;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 213, 253, 1) 100%);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido {
    width: 50%;
    padding: 30px;
    text-align: center;
}

.estilo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    color: hsl(0, 0%, 0%);
    text-align: center;
    width: 300px;
    font-weight: 500;
}

.input {
    display: block;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    outline: none;
    padding: 10px;
    border: 1px solid hsl(120, 100%, 25%);

}

.boton {
    outline: none;
    color: hsl(271, 76%, 53%);
    background-color: hsl(160, 100%, 75%);
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.boton:hover {
    background-color: hsl(180, 100%, 50%);
}

.subtitulo {
    margin: 10px 0;
    color: aliceblue;
    text-align: center;
}

/*----- FIN PAGINA CONTACTO-------*/

/*-----INICIO MAIN VER MAS Y QUIENES SOMOS-------*/

.segunda {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-style: oblique;
    text-align: center;

}

.segunda_hoja {
    color: hsl(34, 57%, 70%);
    font-size: 60px;
}

.mi {
    font-size: 20px;
    justify-content: center;
    line-height: 40px;
}

.mapa {
    margin: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.mas_texto {
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: flex-end;

}

.ubicacionlocal {
    align-items: center;
    display: flex;
    justify-content: center;

}

/*----- FIN MAIN VER MAS Y QUIENES SOMOS-------*/

/*----- INICIO DE MAIN LENTES DE SOL-------*/

h2 {
    color: burlywood;
}

.img-lentesdesol {
    width: 20vw;
    margin: 30px;
}

.peg-len {
    display: flex;
    align-items: center;
    justify-content: center;
    color: burlywood;
    margin: 10px;
    box-shadow: 10px 14px 5px 0px rgba(65, 142, 62, 0.42);
    -webkit-box-shadow: 10px 14px 5px 0px rgba(65, 142, 62, 0.42);
    -moz-box-shadow: 10px 14px 5px 0px rgba(65, 142, 62, 0.42);
    border-radius: 15px;
}

.margin-p {
    margin: 10px 10px;
}


/*----- FIN MAIN LENTES DE SOL-------*/

/*-----INICIO FOOTER-------*/

.bg-footer {
    background-color: rgb(27, 27, 26);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.type-white {
    color: azure;
}

.redes a i {
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
}

.redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
    color: rgb(21, 165, 179);
}

/*----- FIN FOOTER-------*/

/*----- MEDIA QUERIES-------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .davinci {
        width: 100%;
    }
    
    }
    
    .mi {
        display: flex;
        align-items: center;
        margin-top: 25px;
    
    }

     .mapa {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row {

        --bs-gutter-x: 0;
        
        }

@media screen and (min-width: 320px) and (max-width: 767px) {

    .df-header {
        flex-direction: column;
    }

    .df-ul {
        flex-direction: column;
    }

    .boton {
        justify-content: center;
    }

    .contenido {
        width: min-content;
        padding: 0%;
    }

    .main-form {
        width: 100vw;
        padding: 0 0 20px 0
    }

    input {
        width: min-content;
    }

    .tarjetitas {
        flex-direction: column;
    }

    .davinci {
        width: 100%;
    }

    .mapa {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .card {
        width: 300px;
    }

    section {
       display: flex;
       align-items: center;

    }

}

