/*-----INICIO FOOTER-------*/

.bg-footer {
	background-color: $color_negro;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.type-white {
	color: $color_blanco;
}
.redes {
	a {
		i {
			font-size: 20px;
			text-align: center;
			padding: 5px 10px;
			&:hover {
				transform: scale(1.5);
				transition: all 1s ease;
				color: $background_calipso;
			}
		}
	}
}
.boton1 {
	font-size: 1rem;
	margin: 5px;
	background-color: $color_blanco;
	color: $color_negro;
	width: 75px;
	text-align: center;
	font-weight: 600;
	border-radius: 5px;
	&:hover {
		scale: 1.5;
		transition: all ease 2s;
		background-color: $background_calipso;
		color: $color_morado;
	}
}
.btn-lente {
	background-color: $background-color_1;
	font-weight: 600;
	&:hover {
		scale: 1.1;
		transition: all ease 2s;
		background-color: $background_calipso;
		color: $color_morado;
	}
}

/*----- FIN FOOTER-------*/