$colorprincipal: rgb(0, 116, 177);
$color_blanco: azure;
$color_negro: #0b0b0d;
$color_morado: #3d4bba;
$background-color_1: #51a1e2;
$background_calipso: #15a5b3;

$color_azulado: #37649d;
$color_mora: #8a2ce2;
$background_verde: #80ffd4;
$background_calipso2: #00ffff;

$background_verde2: rgb(94, 162, 147);
$color_rosado: rgb(238,174,202);